.App {
}

.App-logo {
  height: 50px;
  pointer-events: none;
  padding: 20px;
  display:flex;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #262329;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Main {
  background-color: #635D69;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 0 20px 0;
}

.LifePathWrapper {
  width: 400px;
  border-radius: 2px;
  background-color: #635D69;
  margin:0 auto;
}
.LifePathWrapper .event-list {
  padding: 10px 20px;
  margin-left: 50px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
