  .LifePathWrapper .event-list .event {
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  .LifePathWrapper .event-list .event:not(:last-child) .event-lifeline {
    position: absolute;
    margin-left: 13px;
    margin-top: 25px;
    border-left: 4px solid #796388;
    height: 65%;
  }
  .LifePathWrapper .event-list .event .content {
    font-size: 15px;
    display: inline-block;
    color: #615B7D;
    text-align: center;
    padding-left: 10px;
    cursor: pointer;
  }
  .LifePathWrapper .event-list .event svg {
    vertical-align: middle;
  }
  



  .modalWrapper { 
    display: flex;
    justify-content: center;
    align-items: center; /* Only if you want it vertically center-aligned as well */
} 
    
  .modalWrapper p { 
    vertical-align: middle;
    padding-left: 10px;;

    
} 
  .modalWrapper img {
    width: 100px;
    float:left;

  }